<header class="d-flex justify-content-center py-3">
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">На главную</a></li>
        <li><a href="#" class="nav-link px-2">Бренды</a></li>
        <li><a href="#" class="nav-link px-2">Категории</a></li>
        <li><a href="#" class="nav-link px-2">О магазине</a></li>
    </ul>
    <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2">Вход</button>
        <button type="button" class="btn btn-primary">Регистрация</button>
    </div>
</header>