{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        {% if user.profile %}
        <div class="col-sm-2 col-md-2">
            <img src="http://thetransformedmale.files.wordpress.com/2011/06/bruce-wayne-armani.jpg"
            alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-4 col-md-4">
            <blockquote>
                <p>{{ user.username }}</p>
                <small><cite title="Source Title"> <i class="glyphicon glyphicon-map-marker"></i></cite></small>
            </blockquote>
            <p> <i class="glyphicon glyphicon-envelope"></i> {{ user.email }}
                <br
                /> <i class="glyphicon glyphicon-globe"></i> {{ user.profile.contact_number }}
                <br /> <i class="glyphicon glyphicon-gift"></i> </p>
        </div>
        <div class="col-sm-2 col-md-2">
            <img src="http://thetransformedmale.files.wordpress.com/2011/06/bruce-wayne-armani.jpg"
            alt="" class="img-rounded img-responsive" />
        </div>
        {% endif %}
    </div>
{% endblock content %}